ClientAdmin/Service References/ImageTransfertServiceRef/ImageTransfert2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageTransfertService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageTransfertService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element name="imageid" nillable="true" type="xs:string" />
      <xs:element name="albumid" nillable="true" type="xs:string" />
      <xs:element name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
</xs:schema>